In [ ]:
import pandas as pd


df_lojas = pd.read_excel("AnalisePicMoney.xlsx", skiprows=2, usecols="A:B")
df_lojas.columns = ["Loja", "valor_compra"]

df_lojas["valor_compra"] = df_lojas["valor_compra"].map(lambda x: f"R$ {x:,.2f}".replace(",", "X").replace(".", ",").replace("X", "."))

print("üìä Vendas por Loja")
print(df_lojas)



df_cupons = pd.read_excel("AnalisePicMoney.xlsx", skiprows=2, usecols="G:H")
df_cupons.columns = ["tipo_cupom", "valor_compra"]
df_cupons = df_cupons.dropna()

df_cupons["valor_compra"] = df_cupons["valor_compra"].map(lambda x: f"R$ {x:,.2f}".replace(",", "X").replace(".", ",").replace("X", "."))

print("\nüìä Comparativo Tipo de Cupom")
print(df_cupons)



df_tempo = pd.read_excel("AnalisePicMoney.xlsx", skiprows=2, usecols="M:N")
df_tempo.columns = ["data_captura", "valor_compra"]
df_tempo = df_tempo.dropna()

df_tempo["data_captura"] = pd.to_datetime(df_tempo["data_captura"], errors="coerce")
df_tempo["valor_compra"] = df_tempo["valor_compra"].map(lambda x: f"R$ {x:,.2f}".replace(",", "X").replace(".", ",").replace("X", "."))

print("\nüìä An√°lise Temporal")
print(df_tempo)

üìä Vendas por Loja
                  Loja     valor_compra
0          Daiso Japan    R$ 369.647,55
1   Drogaria S√£o Paulo    R$ 373.808,68
2        Extra Mercado    R$ 377.733,11
3            Fast Shop    R$ 362.138,76
4            Havaianas    R$ 391.276,05
5              Kalunga    R$ 379.552,67
6     Livraria Cultura    R$ 371.353,43
7     Lojas Americanas    R$ 358.060,30
8              Outback    R$ 342.534,72
9        P√£o de A√ß√∫car    R$ 372.890,60
10          Ponto Frio    R$ 378.106,00
11              Renner    R$ 360.047,30
12           Riachuelo    R$ 368.413,08
13           Smart Fit    R$ 342.909,12
14              Subway    R$ 348.369,38
15         Total Geral  R$ 5.496.840,75
16                 NaN           R$ nan
17                 NaN           R$ nan
18                 NaN           R$ nan
19                 NaN           R$ nan
20                 NaN           R$ nan
21                 NaN           R$ nan
22                 NaN           R$ nan
23                 NaN           R$ nan
24                 NaN           R$ nan
25                 NaN           R$ nan
26                 NaN           R$ nan
27                 NaN           R$ nan
28                 NaN           R$ nan
29                 NaN           R$ nan
30                 NaN           R$ nan
31                 NaN           R$ nan

üìä Comparativo Tipo de Cupom
    tipo_cupom     valor_compra
0     Cashback  R$ 1.857.093,48
1     Desconto  R$ 1.824.381,82
2      Produto  R$ 1.815.365,45
3  Total Geral  R$ 5.496.840,75

üìä An√°lise Temporal
   data_captura     valor_compra
0    2025-01-07     R$ 43.198,43
1    2025-02-07     R$ 38.611,89
2    2025-03-07     R$ 51.035,67
3    2025-04-07     R$ 50.802,80
4    2025-05-07    R$ 647.602,82
5    2025-06-07    R$ 470.589,62
6    2025-07-07     R$ 43.151,27
7    2025-08-07     R$ 54.069,43
8    2025-09-07     R$ 49.358,25
9    2025-10-07     R$ 42.937,14
10   2025-11-07     R$ 44.250,49
11   2025-12-07    R$ 684.695,53
12          NaT    R$ 448.865,88
13          NaT     R$ 45.443,90
14          NaT     R$ 46.310,39
15          NaT     R$ 37.166,16
16          NaT     R$ 46.387,16
17          NaT     R$ 38.734,94
18          NaT    R$ 670.395,52
19          NaT    R$ 446.873,77
20          NaT     R$ 48.823,35
21          NaT     R$ 37.740,89
22          NaT     R$ 40.694,38
23          NaT     R$ 46.834,92
24          NaT     R$ 32.095,50
25          NaT    R$ 653.812,81
26          NaT    R$ 458.182,77
27          NaT     R$ 45.079,49
28          NaT     R$ 42.167,04
29          NaT     R$ 50.208,82
30          NaT     R$ 40.719,72
31          NaT  R$ 5.496.840,75

In [ ]:
import pandas as pd

all_sheets_dict = pd.read_excel("Analise PicMoney.xlsx", sheet_name=None)

df = all_sheets_dict["PicMoney-Massa_de_Teste_com_Loj"]


df["data_captura"] = pd.to_datetime(df["data_captura"], errors="coerce")


soma_por_dia = df.groupby("data_captura").agg(
    valor_total=("valor_compra", "sum"),
    quantidade_compras=("valor_compra", "count")
).reset_index()


soma_por_dia = soma_por_dia.sort_values("data_captura")


soma_por_dia["valor_total"] = soma_por_dia["valor_total"].map(lambda x: f"R$ {x:,.2f}")

print("üìà Soma dos valores de compra por dia + quantidade de compras:")
print(soma_por_dia)

üìà Soma dos valores de compra por dia + quantidade de compras:
   data_captura    valor_total  quantidade_compras
0    2025-01-07   R$ 43,198.43                  86
1    2025-02-07   R$ 38,611.89                  69
2    2025-03-07   R$ 51,035.67                  89
3    2025-04-07   R$ 50,802.80                  85
4    2025-05-07  R$ 647,602.82                1188
5    2025-06-07  R$ 470,589.62                 860
6    2025-07-07   R$ 43,151.27                  87
7    2025-08-07   R$ 54,069.43                  98
8    2025-09-07   R$ 49,358.25                  89
9    2025-10-07   R$ 42,937.14                  72
10   2025-11-07   R$ 44,250.49                  73
11   2025-12-07  R$ 684,695.53                1261

In [ ]:
import pandas as pd

all_sheets_dict = pd.read_excel("Analise PicMoney.xlsx", sheet_name=None)

df = all_sheets_dict["PicMoney-Base_Simulada_-_Pe (2)"]


contagem = df.groupby(["local", "modelo_celular"]).size().reset_index(name="contagem")


mais_usados_por_local = contagem.loc[contagem.groupby("local")["contagem"].idxmax()].reset_index(drop=True)

print("üìç Modelo de celular mais usado por local:")
print(mais_usados_por_local)


contagem_tipo = df["tipo_celular"].value_counts().reset_index()
contagem_tipo.columns = ["tipo_celular", "contagem"]

percentuais_tipo = (contagem_tipo["contagem"] / contagem_tipo["contagem"].sum() * 100).round(2)
contagem_tipo["percentual"] = percentuais_tipo

print("\nüìà Percentual por tipo de celular:")
print(contagem_tipo)

üìç Modelo de celular mais usado por local:
                       local        modelo_celular  contagem
0     Esquina Av. Consola√ß√£o            Realme C35      1431
1         Esquina Rua da Paz  Xiaomi Redmi Note 11      1425
2                       MASP            Realme C35      1417
3           Metr√¥ Brigadeiro            Realme C35      1455
4           Metr√¥ Consola√ß√£o          Motorola G60      1437
5         Metr√¥ Trianon-Masp            Realme C35      1434
6    Ponto de √înibus Augusta  Xiaomi Redmi Note 11      1460
7   Ponto de √înibus Pamplona          Motorola G60      1418
8  Shopping Cidade S√£o Paulo          Motorola G60      1442
9    Shopping P√°tio Paulista    Samsung Galaxy A52      1451

üìà Percentual por tipo de celular:
  tipo_celular  contagem  percentual
0      Android     69935       69.94
1       iPhone     30065       30.06

In [ ]:
import pandas as pd

all_sheets_dict = pd.read_excel("Analise PicMoney.xlsx", sheet_name=None)

df = all_sheets_dict["PicMoney-Base_de_Transa√ß√µes_-_C"]


df["data"] = pd.to_datetime(df["data"], errors="coerce").dt.date


soma_por_dia = df.groupby(["data", "tipo_cupom"]).agg(
    valor_total=("valor_cupom", "sum"),
    quantidade_cupons=("valor_cupom", "count")
).reset_index()


tabela = soma_por_dia.pivot_table(
    index="data",
    columns="tipo_cupom",
    values="valor_total",
    aggfunc="sum",
    fill_value=0,
    margins=True,
    margins_name="Total Geral"
).reset_index()


for col in tabela.columns:
    if col not in ["data"]:
        tabela[col] = tabela[col].map(lambda x: f"R$ {x:,.2f}")

print("üìä Valores de cupom por dia e por tipo:")
print(tabela)

üìä Valores de cupom por dia e por tipo:
tipo_cupom         data         Cashback         Desconto          Produto  \
0            2025-01-07    R$ 604,961.92    R$ 620,373.41    R$ 608,167.97
1            2025-02-07    R$ 626,259.64    R$ 581,391.07    R$ 574,544.09
2            2025-03-07    R$ 583,507.61    R$ 604,050.68    R$ 618,817.95
3            2025-04-07    R$ 556,056.94    R$ 631,829.94    R$ 576,524.11
4            2025-05-07    R$ 603,433.39    R$ 609,845.95    R$ 586,845.54
5            2025-06-07    R$ 601,609.39    R$ 618,201.53    R$ 586,864.63
6            2025-07-07    R$ 604,972.90    R$ 595,193.55    R$ 593,760.27
7            2025-08-07    R$ 578,074.74    R$ 561,145.01    R$ 605,290.71
8            2025-09-07    R$ 577,297.83    R$ 578,272.80    R$ 590,295.10
9            2025-10-07    R$ 622,194.56    R$ 570,474.21    R$ 588,202.32
10           2025-11-07    R$ 590,916.38    R$ 571,037.08    R$ 628,882.84
11           2025-12-07    R$ 658,357.42    R$ 607,954.27    R$ 614,612.77
12          Total Geral  R$ 7,207,642.72  R$ 7,149,769.50  R$ 7,172,808.30

tipo_cupom       Total Geral
0            R$ 1,833,503.30
1            R$ 1,782,194.80
2            R$ 1,806,376.24
3            R$ 1,764,410.99
4            R$ 1,800,124.88
5            R$ 1,806,675.55
6            R$ 1,793,926.72
7            R$ 1,744,510.46
8            R$ 1,745,865.73
9            R$ 1,780,871.09
10           R$ 1,790,836.30
11           R$ 1,880,924.46
12          R$ 21,530,220.52

In [ ]:
import pandas as pd


all_sheets_dict = pd.read_excel("Analise PicMoney.xlsx", sheet_name=None)

df = all_sheets_dict["PicMoney-Base_Simulada_-_Pe (2)"]


df["faixa_etaria"] = pd.cut(df["idade"], bins=range(10, 90, 10), right=False)


analise = df.groupby(["faixa_etaria", "sexo"]).agg({
    "ultimo_tipo_cupom": lambda x: x.mode().iloc[0] if not x.mode().empty else None,
    "tipo_celular": lambda x: x.mode().iloc[0] if not x.mode().empty else None,
    "celular": "count"  # quantidade de clientes por grupo
}).reset_index()


analise.rename(columns={"celular": "qtd_clientes"}, inplace=True)


import pandas as pd
from IPython.display import display
display(analise)

/tmp/ipython-input-244178012.py:12: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  analise = df.groupby(["faixa_etaria", "sexo"]).agg({

   faixa_etaria       sexo ultimo_tipo_cupom tipo_celular  qtd_clientes
0      [10, 20)   Feminino          Desconto      Android          2465
1      [10, 20)  Masculino          Cashback      Android          2378
2      [10, 20)      Outro          Cashback      Android          2503
3      [20, 30)   Feminino           Produto      Android          5922
4      [20, 30)  Masculino          Desconto      Android          5969
5      [20, 30)      Outro          Desconto      Android          6047
6      [30, 40)   Feminino           Produto      Android          6201
7      [30, 40)  Masculino           Produto      Android          6189
8      [30, 40)      Outro          Cashback      Android          6013
9      [40, 50)   Feminino           Produto      Android          6134
10     [40, 50)  Masculino           Produto      Android          6031
11     [40, 50)      Outro           Produto      Android          6201
12     [50, 60)   Feminino           Produto      Android          6141
13     [50, 60)  Masculino           Produto      Android          5899
14     [50, 60)      Outro           Produto      Android          5958
15     [60, 70)   Feminino          Desconto      Android          5947
16     [60, 70)  Masculino          Desconto      Android          6110
17     [60, 70)      Outro          Cashback      Android          6100
18     [70, 80)   Feminino          Cashback      Android           609
19     [70, 80)  Masculino          Cashback      Android           583
20     [70, 80)      Outro           Produto      Android           600

In [7]:
import pandas as pd

# Caminho do arquivo
all_sheets_dict = pd.read_excel("Analise PicMoney.xlsx", sheet_name=None)
# Carregar o Excel
xls = pd.ExcelFile(file_path)

# Listar todas as abas
print("Abas encontradas:", xls.sheet_names)

# Criar um dicion√°rio com os resumos
resumos = {}

for sheet in xls.sheet_names:
    print(f"\nüìä Resumo estat√≠stico da aba: {sheet}")
    df = pd.read_excel(file_path, sheet_name=sheet)

    # Mostrar informa√ß√µes gerais
    print("\n--- Informa√ß√µes Gerais ---")
    print(df.info())

    # Resumo estat√≠stico das colunas num√©ricas
    print("\n--- Estat√≠sticas Num√©ricas ---")
    print(df.describe(include=[int, float]))

    # Resumo estat√≠stico das colunas categ√≥ricas
    print("\n--- Estat√≠sticas Categ√≥ricas ---")
    print(df.describe(include=[object]))

    # Guardar no dicion√°rio caso queira salvar depois
    resumos[sheet] = {
        "numerico": df.describe(include=[int, float]),
        "categorico": df.describe(include=[object])
    }

Abas encontradas: ['PicMoney-Massa_de_Teste_com_Loj', 'PicMoney-Base_Simulada_-_Pe (2)', 'PicMoney-Base_de_Transa√ß√µes_-_C', 'PicMoney-Base_Cadastral_de_Play']

üìä Resumo estat√≠stico da aba: PicMoney-Massa_de_Teste_com_Loj

--- Informa√ß√µes Gerais ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   numero_celular  10000 non-null  object
 1   data_captura    10000 non-null  object
 2   tipo_cupom      10000 non-null  object
 3   tipo_loja       10000 non-null  object
 4   local_captura   10000 non-null  object
 5   latitude        10000 non-null  object
 6   longitude       10000 non-null  object
 7   nome_loja       10000 non-null  object
 8   endereco_loja   10000 non-null  object
 9   valor_compra    10000 non-null  float64
 10  valor_cupom     10000 non-null  float64
dtypes: float64(2), object(9)
memory usage: 859.5+ KB
None

--- Estat√≠sticas Num√©ricas ---
       valor_compra   valor_cupom
count  10000.000000  10000.000000
mean     549.684075     70.353666
std      260.762003     91.065168
min      100.090000      1.230000
25%      323.385000     16.127500
50%      548.885000     32.920000
75%      776.260000     79.822500
max      999.920000    492.570000

--- Estat√≠sticas Categ√≥ricas ---
         numero_celular data_captura tipo_cupom  tipo_loja      local_captura  \
count             10000        10000      10000      10000              10000
unique             9999           31          3          8                  7
top     (11) 98154-1108   12/07/2025   Cashback  esportivo  Cal√ßada aleat√≥ria
freq                  2         1261       3340       1345               2503

                      latitude                longitude  nome_loja  \
count                    10000                    10000      10000
unique                   10000                    10000         15
top     -2.356.380.731.240.190  -46.649.952.482.413.200  Havaianas
freq                         1                        1        709

                                           endereco_loja
count                                              10000
unique                                                14
top     Shopping P√°tio Paulista, Rua Treze de Maio, 1947
freq                                                1297

üìä Resumo estat√≠stico da aba: PicMoney-Base_Simulada_-_Pe (2)

--- Informa√ß√µes Gerais ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 15 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   celular                 100000 non-null  object
 1   data                    100000 non-null  object
 2   horario                 100000 non-null  object
 3   local                   100000 non-null  object
 4   latitude                100000 non-null  object
 5   longitude               100000 non-null  object
 6   tipo_celular            100000 non-null  object
 7   modelo_celular          100000 non-null  object
 8   possui_app_picmoney     100000 non-null  object
 9   data_ultima_compra      59957 non-null   object
 10  ultimo_tipo_cupom       59957 non-null   object
 11  ultimo_valor_capturado  59957 non-null   float64
 12  ultimo_tipo_loja        59957 non-null   object
 13  idade                   100000 non-null  int64
 14  sexo                    100000 non-null  object
dtypes: float64(1), int64(1), object(13)
memory usage: 11.4+ MB
None

--- Estat√≠sticas Num√©ricas ---
       ultimo_valor_capturado          idade
count            59957.000000  100000.000000
mean               254.791789      42.973140
std                141.546678      15.836319
min                 10.020000      16.000000
25%                132.130000      29.000000
50%                255.300000      43.000000
75%                376.700000      57.000000
max                499.980000      70.000000

--- Estat√≠sticas Categ√≥ricas ---
                celular        data   horario             local  \
count            100000      100000    100000            100000
unique            99935           1        65                10
top     (11) 95870-1795  22/07/2025  17:30:00  Metr√¥ Consola√ß√£o
freq                  2      100000      3207             10125

                       latitude               longitude tipo_celular  \
count                    100000                  100000       100000
unique                   100000                  100000            2
top     -23.564.023.772.521.700  -4.665.684.689.703.400      Android
freq                          1                       1        69935

       modelo_celular possui_app_picmoney data_ultima_compra  \
count          100000              100000              59957
unique             10                   2                 30
top        Realme C35                 Sim         23/06/2025
freq            14170               59957               2057

       ultimo_tipo_cupom ultimo_tipo_loja    sexo
count              59957            59957  100000
unique                 3                8       3
top              Produto      restaurante   Outro
freq               20219             7604   33422

üìä Resumo estat√≠stico da aba: PicMoney-Base_de_Transa√ß√µes_-_C

--- Informa√ß√µes Gerais ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 12 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   celular                    100000 non-null  object
 1   data                       100000 non-null  object
 2   hora                       100000 non-null  object
 3   nome_estabelecimento       100000 non-null  object
 4   bairro_estabelecimento     100000 non-null  object
 5   categoria_estabelecimento  100000 non-null  object
 6   id_campanha                100000 non-null  object
 7   id_cupom                   100000 non-null  object
 8   tipo_cupom                 100000 non-null  object
 9   produto                    33328 non-null   object
 10  valor_cupom                100000 non-null  float64
 11  repasse_picmoney           100000 non-null  float64
dtypes: float64(2), object(10)
memory usage: 9.2+ MB
None

--- Estat√≠sticas Num√©ricas ---
         valor_cupom  repasse_picmoney
count  100000.000000     100000.000000
mean      550.489585         70.474739
std       259.410143         90.823519
min       100.010000          1.070000
25%       326.627500         16.180000
50%       550.265000         32.815000
75%       774.910000         80.160000
max       999.960000        497.320000

--- Estat√≠sticas Categ√≥ricas ---
                celular        data      hora nome_estabelecimento  \
count            100000      100000    100000               100000
unique             4813          31        65                   33
top     (11) 92941-5524  12/07/2025  17:00:00             Drogasil
freq                 99        3348      1609                 4351

       bairro_estabelecimento categoria_estabelecimento id_campanha  \
count                  100000                    100000      100000
unique                     21                        29        9000
top                Consola√ß√£o     Farm√°cias e Drogarias     CAM6572
freq                     4906                      6816          25

         id_cupom tipo_cupom produto
count      100000     100000   33328
unique      94680          3     182
top     CUP146124   Cashback    Odio
freq            4      33556     212

üìä Resumo estat√≠stico da aba: PicMoney-Base_Cadastral_de_Play

--- Informa√ß√µes Gerais ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   celular                10000 non-null  object
 1   data_nascimento        10000 non-null  object
 2   idade                  10000 non-null  int64
 3   sexo                   10000 non-null  object
 4   cidade_residencial     10000 non-null  object
 5   bairro_residencial     10000 non-null  object
 6   cidade_trabalho        6031 non-null   object
 7   bairro_trabalho        6031 non-null   object
 8   cidade_escola          3068 non-null   object
 9   bairro_escola          3068 non-null   object
 10  categoria_frequentada  10000 non-null  object
dtypes: int64(1), object(10)
memory usage: 859.5+ KB
None

--- Estat√≠sticas Num√©ricas ---
              idade
count  10000.000000
mean      52.793500
std       21.568963
min       16.000000
25%       34.000000
50%       53.000000
75%       71.000000
max       91.000000

--- Estat√≠sticas Categ√≥ricas ---
                celular data_nascimento   sexo cidade_residencial  \
count             10000           10000  10000              10000
unique             9999            8346      3                530
top     (11) 92692-1430      11/03/1985  Outro          S√£o Paulo
freq                  2               5   3356               8967

       bairro_residencial cidade_trabalho bairro_trabalho cidade_escola  \
count               10000            6031            6031          3068
unique                 21               1              21             1
top               Santana       S√£o Paulo              S√©     S√£o Paulo
freq                  517            6031             742          3068

       bairro_escola  categoria_frequentada
count           3068                  10000
unique            21                     29
top     Higien√≥polis  Farm√°cias e Drogarias
freq             395                    814